.slider__reviews{
    margin: 0 auto;
    /* width: 700px; */
    width: 100%;
}
.slider__item{
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
    margin-bottom: 30px;
    background-color: white;
    padding: 40px;

    outline: none;
}
.slider__item-descr{
    display: flex;
    flex-direction: column-reverse;
}
.slider__item-images{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider__item-image{
    width: 150px;
}
.slider__item-text{
    text-align: justify;
    margin-bottom: 30px;

    font-size: 15px;
}
.slider__item-author {
    margin-bottom: 15px;

    font-size: 18px;
}
.slider__item-size{
    font-size: 15px;
    margin-bottom: 20px;
}

.slick-prev::before,.slick-next::before{
    font-size: 32px;
}

/* media */
@media (max-width:320px) {
    .slider__item-text{
        font-size: 14px;
    }
    .slider__item-author{
        font-size: 16px;
    }
}
/* media-end */