.banner{
    margin: 150px 0;
}
.banner__inner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.banner__inner-copy{
    max-width: 460px;
}
.banner__inner-title{
    font-family: var(--italiana);
    font-size: 48px;
    color: black;
    font-weight: 400;
    margin-bottom: 20px;
}
.banner__inner-text{
    font-family: var(--monts);
    margin-bottom: 35px;
}